$black: #363431;
$white: #fff;

html {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  color: $black;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $black;
}

.site-container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  &__inner {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu__list li:not(:last-child) {
  padding-right: 56px;
}

.phone-number {
  position: relative;
  padding-left: 40px;

  &::before {
    background-image: url(../images/phone.png);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 24px;
    height: 24px;
  }
}

.location {
  position: relative;
  padding-left: 40px;
  max-width: 405px;

  &::before {
    background-image: url(../images/location.png);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 24px;
    height: 24px;
  }
}

.first {
  background-image: url(../images/first-bg.jpg);
  height: 840px;
  width: 100%;
  text-align: center;
  color: #fff;

  &__inner {
    max-width: 784px;
    margin: 0 auto;
  }

  &__title {
    padding: 144px 0 40px;
    font-size: 56px;
    line-height: 130%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 2px;
      bottom: 0;
      background-color: #fff;
      transform: translateX(-142%);
    }
  }

  &__text {
    margin: 40px 0 80px;
    font-size: 24px;
    line-height: 25px;
  }

  &__btn {
    background-color: transparent;
    width: 240px;
    height: 64px;
    font-size: 18px;
    line-height: 18px;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.scroll-btn {
  display: block;
  margin-top: 144px;
}

.about {
  margin-top: 176px;

  &__title {
    text-align: center;
    font-size: 48px;
    line-height: 46px;
  }

  &__items {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 240px;
    text-align: center;

    &-text {
      margin-top: 32px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.help {
  margin-top: 176px;

  &__title {
    text-align: center;
    font-size: 48px;
    line-height: 62px;
    max-width: 524px;
    margin: 0 auto;
  }

  &__items {
    margin-top: 80px;
    display: grid;
    height: 100%;
    grid-template-areas: "item-1 item-2 item2"
      "item-1 item-3 item-4";
    grid-template-columns: 1fr 308px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 32px;
  }

  &__item {
    position: relative;

    &-text {
      position: absolute;
      font-size: 22px;
      line-height: 29px;
      color: #fff;
    }
  }

  .text-1 {
    top: 0;
    left: 0;
    max-width: 379px;
    padding: 48px 0 0 48px;
  }

  .text-2 {
    bottom: 0;
    left: 0;
    padding: 0 0 48px 48px;
  }

  .text-3 {
    text-align: center;
    align-items: center;
    top: 0;
    right: 0;
    padding-top: 80px;
  }

  .text-4 {
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    padding-top: 110px;
    max-width: 306px;
  }

  &__item-img {
    object-fit: cover;
    border-radius: 16px;
  }

  .item-1 {
    grid-area: item-1;
  }

  .item-2 {
    grid-area: item-2;
  }

  .item-3 {
    grid-area: item-3;
  }

  .item-4 {
    grid-area: item-4;
  }
}

.stocks {
  margin-top: 176px;
  padding-bottom: 176px;
  background: #F3F3F3;

  &__title {
    font-size: 48px;
    line-height: 46px;
    padding: 176px 0 80px 0;
    text-align: center;
  }

  &__slider {
    width: 1300px;

    &-wrapper {
      width: 100%;
      border-radius: 16px;
    }

    &-arrows {
      display: flex;
      justify-content: center;
      max-width: 550px;
      text-align: center;
      margin: 48px auto 0;
    }

    &-prev {
      cursor: pointer;
    }

    &-next {
      cursor: pointer;
    }

    &-dots {
      display: flex;
      justify-content: space-around;
      margin-left: 120px;
      margin-right: 120px;
      align-items: center;
      width: 100%;
    }
  }

  &__slide {
    background-color: #fff;
    width: 100%;
    max-height: 430px;
    align-items: center;
    display: flex;

    &-content {
      padding-left: 32px;
      max-width: 480px;
    }

    &-title {
      font-size: 32px;
      line-height: 42px;
    }

    &-text {
      font-size: 18px;
      line-height: 26px;
      margin: 24px 0 24px 0;
    }

    &-price {
      color: #74B900;
      font-size: 32px;
      line-height: 54px;
    }

    &-price span {
      font-size: 16px;
      line-height: 27px;
      text-decoration: line-through;
    }

    &-about {
      font-size: 18px;
      line-height: 31px;
      border-bottom: 1px solid $black;
    }

    &-img {
      object-fit: cover;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(54, 52, 49, 0.5);
  display: none;

  &__close {
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 50px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  &__content {
    width: 512px;
    height: 528px;
    background-color: #fff;
    padding: 72px 60px 72px 56px;
    border-radius: 16px;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 35%;
  }

  &__form {
    width: 396px;

    &-title {
      font-size: 32px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 48px;
    }

    &-input {
      display: block;
      width: 100%;
      height: 56px;
      font-size: 14px;
      line-height: 17px;
      color: #828282;
      padding-left: 16px;
      border: 0.5px solid #B2B2B2;
      border-radius: 4px;
      margin-bottom: 24px;
    }

    &-btn {
      width: 241px;
      height: 56px;
      border: 1px solid #74B900;
      border-radius: 8px;
      color: #74B900;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .checkbox {
    display: flex;
  }

  .checkbox-label {
    margin: 0 0 40px 8px;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    display: inline-flex;
  }
}

.footer {
  padding: 80px 0 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    max-width: 512px;

    &-list {
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;

      &--link {
        text-decoration: underline;
        margin-bottom: 16px;
      }
    }

    &-social {
      margin-top: 40px;
      margin-bottom: 24px;
    }
  }

  .site-props {
    color: #828282;
    font-size: 16px;
    line-height: 16px;
  }

  .social-link {
    margin-right: 24px;
  }

  &__descr {
    max-width: 380px;

    &-title {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 16px;
    }

    &-text {
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__form {
    max-width: 380px;

    &-title {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 16px;
    }

    &-text {
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 32px;
    }

    .mail__wrapper {
      position: relative;
    }

    &-mail {
      display: block;
      margin-bottom: 64px;
      width: 100%;
      height: 48px;
      background-color: #F3F3F3;
      border: none;
      padding-left: 16px;
      padding-right: 104px;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #AEACAA;
    }

    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 104px;
      height: 48px;
      background-color: #74B900;
      color: #fff;
      font-size: 16px;
      line-height: 27px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
    }

    &-rules {
      text-decoration: underline;
      font-size: 16px;
      line-height: 27px;
      color: #828282;
    }
  }
}